{% extends "app_base.html" %}

{% block content %}

<div class="col-sm-10 col-md-8 col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-align-justify fa-fw fa-lg"></i>&nbsp;
      Delete {{ attribute_type }}
    </div><!-- panel-heading -->
    <div class="panel-body">
      {% if mode == 'notify' %}
        <p>The {{ attribute_type }} '{{ attribute }}' is in use by one or more
        tasks.</p>
        <p>It can't be deleted while it is in use.</p>
        <a class="btn btn-primary"
          href="{% url 'attribute-list' attribute_type %}">
          <i class="fa fa-arrow-circle-left fa-lg"></i>
          &nbsp;Back to {{ attribute_type }} list
        </a>
      {% elif mode == 'delete' %}
        <p>The {{ attribute_type }} '{{ attribute }}' will be deleted.</p>
        <form role="form" id="form" action="" method="POST">
          {% csrf_token %}
          <div>
            <a class="btn btn-default"
              href="{% url 'attribute-list' attribute_type %}">
              <i class="fa fa-times-circle fa-lg"></i>&nbsp;Cancel
            </a>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-check-circle fa-lg"></i>&nbsp;Delete
            </button>
          </div>
        </form>
      {% endif %}
    </div><!-- /.panel-body -->
  </div><!-- /.panel -->
</div><!-- /.col -->

{% endblock content %}
