{% load customtags %}

{% if task_id %}
  <td colspan="14" class="task-form" id="task-edit-cell">
    <form role="form" class="form-inline" id="edittaskform"
      action="{% url 'edit-task' task_id %}" method="POST">
{% else %}
  <form role="form" class="form-inline" id="addtaskform"
    action="" method="POST">
{% endif %}
    <div id="form-contents">
      {% csrf_token %}

      <div class="panel panel-default">

        {% ifequal form.view.value 'completed' %}
          <div class="panel-heading panel-heading-warning">
            <i class="fa fa-warning fa-lg"></i>&nbsp;
            You are editing a completed task.
          </div><!-- /.panel-heading -->
        {% endifequal %}

        <div class="panel-heading">
          Basic information
        </div><!-- /.panel-heading -->

        <div class="panel-body">

          <div class="form-group width-80">
            {{ form.description.label_tag|labelclass:"sr-only" }}
              <div class="input-group">
                <div class="input-group-addon">{{ form.description.label }}</div>
                {{ form.description|inputclass:"form-control"|autofocus }}
              </div><!-- /.input-group -->
            {{ form.description.errors }}
          </div><!-- /.form-group -->

          <br>

          <div class="form-group">
            {{ form.view.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.view.label }}</div>
              {{ form.view|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.view.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.time.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.time.label }}</div>
              {{ form.time|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.time.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.priority.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.priority.label }}</div>
              {{ form.priority|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.priority.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.project.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.project.label }}</div>
              {{ form.project|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.project.errors }}
          </div><!-- /.form-group -->

          <div class="checkbox">
            <label>
              {{ form.underway }}
              {{ form.underway.label }}
              {{ form.underway.errors }}
            </label>
          </div><!-- /.checkbox -->

        </div><!-- /.panel-body -->

        <div class="panel-heading">
          Contexts
        </div><!-- /.panel-heading -->

        <div class="panel-body">

          <div class="form-group">
            {{ form.context.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.context.label }}</div>
              {{ form.context|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.context.errors }}
          </div><!-- /.form-group -->

        </div><!-- /.panel-body -->

        <div class="panel-heading">
          Notes
        </div><!-- /.panel-heading -->

        <div class="panel-body">

          <div class="form-group">
            {{ form.notes.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.notes.label }}</div>
              {{ form.notes|inputclass:"form-control notes"|rows:"3"|cols:"100" }}
            </div><!-- /.input-group -->
            {{ form.notes.errors }}
          </div><!-- /.form-group -->

        </div><!-- /.panel-body -->

        <div class="panel-heading">
          Scheduling
        </div><!-- /.panel-heading -->

        <div class="panel-body">

          <div class="form-group">
            {{ form.deadline.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.deadline.label }}</div>
              {{ form.deadline|inputclass:"form-control datepicker" }}
            </div><!-- /.input-group -->
            {{ form.deadline.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.scheduled.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.scheduled.label }}</div>
              {{ form.scheduled|inputclass:"form-control datepicker" }}
            </div><!-- /.input-group -->
            {{ form.scheduled.errors }}
          </div><!-- /.form-group -->

        </div><!-- /.panel-body -->

        <div class="panel-heading">
          For recurring tasks only
        </div><!-- /.panel-heading -->

        <div class="panel-body">

          <div class="form-group">
            {{ form.frequency.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.frequency.label }}</div>
              {{ form.frequency|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.frequency.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.starts.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.starts.label }}</div>
              {{ form.starts|inputclass:"form-control datepicker" }}
            </div><!-- /.input-group -->
            {{ form.starts.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.ends.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.ends.label }}</div>
              {{ form.ends|inputclass:"form-control datepicker" }}
            </div><!-- /.input-group -->
            {{ form.ends.errors }}
          </div><!-- /.form-group -->

        </div><!-- /.panel-body -->

        <div class="panel-footer clearfix">

          {% if task_id %}
            <a href={% url 'rubbish-task' task_id %} type="button"
              class="btn btn-default">
              <i class="fa fa-trash fa-lg"></i>&nbsp;Move to rubbish
            </a>
            <a href={% url 'complete-task' task_id %} type="button"
                class="btn btn-default">
                <i class="fa fa-check-circle fa-lg"></i>&nbsp;Complete
            </a>
          {% endif %}
          <div class="pull-right">
            <a href={% url 'list-tasks' 'view' 'today' %} type="button"
              class="btn btn-default">
              <i class="fa fa-minus-circle fa-lg"></i>&nbsp;Cancel
            </a>
            {% if task_id %}
              <button type="button" class="btn btn-primary btn-save"
                id="save-task-{{ task_id }}">
            {% else %}
              <button type="submit" class="btn btn-primary btn-save">
            {% endif %}
              <i class="fa fa-check-circle fa-lg"></i>&nbsp;Save
            </button>
          </div><!-- /.pull-right -->

        </div><!-- /.panel-footer -->

      </div><!-- /.panel -->
    </div><!-- /.form-contents -->
  </form>
</td>
