{% load customtags %}

<td colspan="14" id="task-edit-cell">
  <form role="form" class="form-inline" id="edittaskform"
    action="{% url 'edit-task' task_id %}" method="POST">
    <div id="form-contents">
      {% csrf_token %}

      <div class="panel panel-default">

        <div class="panel-heading">
          Basic information
        </div><!-- /.panel-heading -->

        <div class="panel-body">
          {% if tw_error %}
            <p><strong>Taskwarrior error</strong></p>
            <ul>
              <li> {{ tw_error }}</li>
            </ul>
          {% endif %}
        
          <div class="form-group width-80">
            {{ form.description.label_tag|labelclass:"sr-only" }}
              <div class="input-group">
                <div class="input-group-addon">{{ form.description.label }}</div>
                {{ form.description|inputclass:"form-control" }}
              </div><!-- /.input-group -->
            {{ form.description.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.view.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.view.label }}</div>
              {{ form.view|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.view.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.time.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.time.label }}</div>
              {{ form.time|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.time.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.priority.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.priority.label }}</div>
              {{ form.priority|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.priority.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.order.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.order.label }}</div>
              {{ form.order|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.order.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.due.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.due.label }}</div>
              {{ form.due|inputclass:"form-control datepicker" }}
            </div><!-- /.input-group -->
            {{ form.due.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.project.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.project.label }}</div>
              {{ form.project|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.project.errors }}
          </div><!-- /.form-group -->

        </div><!-- /.panel-body -->

        <div class="panel-heading">
          Context tags
        </div><!-- /.panel-heading -->

        <div class="panel-body">

          <div class="form-group">
            {{ form.context_1.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.context_1.label }}</div>
              {{ form.context_1|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.context_1.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.context_2.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.context_2.label }}</div>
              {{ form.context_2|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.context_2.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.context_3.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.context_3.label }}</div>
              {{ form.context_3|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.context_3.errors }}
          </div><!-- /.form-group -->

        </div><!-- /.panel-body -->

        <div class="panel-heading">
          For recurring tasks only
        </div><!-- /.panel-heading -->

        <div class="panel-body">

          <div class="form-group">
            {{ form.recur.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.recur.label }}</div>
              {{ form.recur|inputclass:"form-control" }}
            </div><!-- /.input-group -->
            {{ form.recur.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.until.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.until.label }}</div>
              {{ form.until|inputclass:"form-control datepicker" }}
            </div><!-- /.input-group -->
            {{ form.until.errors }}
          </div><!-- /.form-group -->

          <div class="form-group">
            {{ form.wait.label_tag|labelclass:"sr-only" }}
            <div class="input-group">
              <div class="input-group-addon">{{ form.wait.label }}</div>
              {{ form.wait|inputclass:"form-control datepicker" }}
            </div><!-- /.input-group -->
            {{ form.wait.errors }}
          </div><!-- /.form-group -->

        </div><!-- /.panel-body -->

        <div class="panel-footer">
    
          <a href={% url 'delete-task' task_id %} type="button"
            class="btn btn-default">
            <i class="fa fa-times-circle fa-lg"></i>&nbsp;Delete
          </a>
          <a href={% url 'complete-task' task_id %} type="button"
              class="btn btn-default">
              <i class="fa fa-check-circle fa-lg"></i>&nbsp;Complete
          </a>
          <div class="pull-right">
            <a href={% url 'list-tasks' 'today' %} type="button"
              class="btn btn-default">
              <i class="fa fa-minus-circle fa-lg"></i>&nbsp;Cancel
            </a>
            <button type="button" class="btn btn-primary btn-save"
              id="save-task-{{ task_id }}">
              <i class="fa fa-check-circle fa-lg"></i>&nbsp;Save
            </button>
          </div><!-- /.pull-right -->

        </div><!-- /.panel-footer -->
               
      </div><!-- /.panel -->
    </div><!-- /.form-contents -->
  </form>
</td>
