{% extends "app_base.html" %}

{% block content %}

  <table class="table tablesorter" id="tasktable">
    <thead>
      <tr>
        <th><i class="fa fa-toggle-right fa-lg"></i></th>
        <th>Description</th>
        <th>Project</th>
        <th>Contexts</th>
        <th>Time</th>
        <th>Priority</th>
        <th>Deadline</th>
        <th>Postpone</th>
        <th>Frequency</th>
        <th>Starts</th>
        <th>Ends</th>
      </tr>
    </thead>
    <tbody>
      {% for task in task_list %}
        <tr class="task-row" id="task-{{ task.id }}" url="{% url 'edit-task' task.id %}">
          <td>
            {% if task.underway %}
              <i class="fa fa-toggle-right fa-lg"></i>
            {% endif %}
          </td>
          <td>{{ task.description }}</td>
          <td><span class="label label-default">{{ task.project|default_if_none:'' }}</span></td>
          <td>
            {% for context in task.context.all %}
              <span class="label label-primary">{{ context }}</span>
            {% endfor %}
          </td>
          <td><span class="label label-primary label-time">{{ task.time|default_if_none:'' }}</span></td>
          <td><span class="label label-primary label-priority">{{ task.priority|default_if_none:'' }}</span></td>
          <td><span class="label label-danger label-date">{{ task.deadline|default_if_none:'' }}</span></td>
          <td><span class="label label-danger label-date">{{ task.scheduled|default_if_none:'' }}</span></td>
          <td><span class="label label-danger">{{ task.frequency|default_if_none:'' }}</span></td>
          <td><span class="label label-danger label-date">{{ task.starts|default_if_none:'' }}</span></td>
          <td><span class="label label-danger label-date">{{ task.ends|default_if_none:'' }}</span></td>
          <td class="hidden">
            {% for context in task.context.all %}
              {{ context }},
            {% endfor %}
          </td>
        </tr>
        <tr class="tablesorter-childRow" id="edit-task-{{ task.id }}">
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% ifequal menu 'rubbish' %}
    <div>
      <a href={% url 'empty-rubbish' %} class="btn btn-primary">
        <i class="fa fa-trash fa-lg"></i>&nbsp;Empty rubbish
      </a>
    </div>
  {% endifequal %}

{% endblock content %}

{% block extra-js %}

  <script>
    $(function() {
      ActivateDatepicker();
      ExpandLabels();
      // Table must not be sorted until labels have been expanded
      ActivateTablesorter();
      EnableAjaxForm();
    });
  </script>

{% endblock extra-js %}
