{% extends "app_base.html" %}

{% block content %}

  <table class="table tablesorter" id="tasktable">
    <thead>
      <tr>
        <th>Description</th>
        <th>Project</th>
        <th colspan="3">Contexts</th>
        <th>Time</th>
        <th>Priority</th>
        <th>Order</th>
        <th>Due</th>
        <th>Recur</th>
        <th>Until</th>
        <th>Wait</th>
      </tr>
    </thead>
    <tbody>
      {% for task in task_list %}
        <tr class="task-row" id="task-{{ task.id }}" url="{% url 'edit-task' task.id %}">
          <td>{{ task.description }}</td>
          <td><span class="label label-default">{{ task.project|default_if_none:'' }}</span>
          </td>
          {% for tag in task.tags reversed %}
            <td><span class="label label-primary">{{ tag|default_if_none:'' }}</span></td>
          {% endfor %}
          <td><span class="label label-primary label-time">{{ task.time|default_if_none:'' }}</span></td>
          <td><span class="label label-primary label-priority">{{ task.priority|default_if_none:'' }}</span></td>
          <td><span class="label label-danger label-order">{{ task.order|default_if_none:'' }}</span></td>
          <td><span class="label label-danger label-date">{{ task.due|default_if_none:'' }}</span></td>
          <td>{{ task.recur|default_if_none:'' }}</td>
          <td><span class="label label-danger label-date">{{ task.until|default_if_none:'' }}</span></td>
          <td><span class="label label-danger label-date">{{ task.wait|default_if_none:'' }}</span></td>
          <td class="hidden">{{ task.tags }}</td>
        </tr>
        <tr class="tablesorter-childRow" id="edit-task-{{ task.id }}">
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}

{% block extra-js %}

  <script>
    $(function() {
      ActivateDatepicker();
      ExpandLabels();
      // Table must not be sorted until labels have been expanded
      ActivateTablesorter();
      EnableAjaxForm();
    });
  </script>

{% endblock extra-js %}
