<td>{{ task.description }}</td>
<td><span class="label label-default">{{ task.project|default_if_none:'' }}</span>
</td>
{% for tag in task.tags reversed %}
<td><span class="label label-primary">{{ tag|default_if_none:'' }}</span></td>
{% endfor %}
<td><span class="label label-primary label-time">{{ task.time|default_if_none:'' }}</span></td>
<td><span class="label label-primary label-priority">{{ task.priority|default_if_none:'' }}</span></td>
<td><span class="label label-danger">{{ task.order|default_if_none:'' }}</span></td>
<td>{{ task.due|default_if_none:'' }}</td>
<td>{{ task.recur|default_if_none:'' }}</td>
<td>{{ task.until|default_if_none:'' }}</td>
<td>{{ task.wait|default_if_none:'' }}</td>
<td>{{ task.view|default_if_none:'' }}</td>
<td>{{ task.id }}</td>
<td class="hidden">{{ task.tags }}</td>
