<td>
  {% if task.underway %}
    <i class="fa fa-toggle-right fa-lg"></i><span class="hidden">True</span>
  {% endif %}
</td>
<td>
  {{ task.description }}
  {% if task.notes %}
    <i class="fa fa-file-text"></i>
  {% endif %}
</td>
<td><span class="label label-default">{{ task.project|default_if_none:'' }}</span></td>
<td>
  {% for context in task.context.all %}
    <span class="label label-primary">{{ context }}</span>
  {% endfor %}
</td>
<td>
  <span class="hidden">{{ task.time|default_if_none:'' }}</span>
  <span class="label label-primary label-time"></span>
</td>
<td><span class="label label-primary">{{ task.priority|default_if_none:'' }}</span></td>
<td>
  <span class="hidden">{{ task.deadline|date:'Ymd' }}</span>
  <span class="label label-danger label-date">{{ task.deadline|default_if_none:'' }}</span>
</td>
<td>
  <span class="hidden">{{ task.scheduled|date:'Ymd' }}</span>
  <span class="label label-danger label-date">{{ task.scheduled|default_if_none:'' }}</span>
</td>
<td><span class="label label-danger">{{ task.frequency|default_if_none:'' }}</span></td>
<td><span class="label label-danger label-date">{{ task.starts|default_if_none:'' }}</span></td>
<td><span class="label label-danger label-date">{{ task.ends|default_if_none:'' }}</span></td>
<td>
  <span class="hidden">{{ task.completed|date:'Ymd' }}{{ task.completed|time:'His' }}</span>
  <span class="label label-danger label-date">{{ task.completed|default_if_none:'' }}</span>
</td>
{% ifequal selector_type 'project' %}
  <td><span class="label label-default">{{ task.view }}</span></td>
{% endifequal %}
